@import "@fontsource/poppins";
:root {
  --color-primary: #34C94B;
  --color-black:#121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
.hr{
    border: none;
    height: 2px;
    width: 100%;
   
    background-color:var(--color-primary);
    
}
